{% extends "base.html" %}

{% block title %}Download page: {{page.title}} {% endblock title %}
{% block content %}
<form method="POST" class="form-inline">
    <input type="hidden" name="download_type" value="txt">
    <input type="submit" class="btn btn-success" value="Download as text file">
    <p>Filesize: {{ "%.2f" % text_file_size }} KB</p>
</form>
<form method="POST" class="form-inline">
    <input type="hidden" name="download_type" value="md">
    <input type="submit" class="btn btn-success" value="Download as md file">
    <p>Filesize: {{ "%.2f" % md_file_size }} KB</p>
</form>
<form method="POST" class="form-inline">
    <input type="hidden" name="download_type" value="pdf">
    <input type="submit" class="btn btn-success" value="Download as pdf file">
    <p>Filesize: {{ "%.2f" % pdf_file_size }} KB</p>
</form>
{% endblock content %}
